//***************************
// PATRON DE COLORES
//***************************

$texto: #111111;
$principal:#12AFAF;
$secundario: #FFB31A;

/* Fuente para telefonos moviles */
html{
    font-size: 15px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}
.bienvenidos{
    background: url("../images/Fondo-encabezado.jpg") no-repeat center top;
    color: #fff;
    /* hace que todo la imagen se muestre lo mejor posible*/
    background-size: cover;
    /* viewport height (el 100% de la pantalla del dispositivo) */ 
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado{
    background: $texto;
    color: #fff;
    padding: 1rem 1rem;
}

.encabezado .container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.encabezado .container .logo img{
    width: 150px;
    height: auto;
}
/* Estilos para el Boton buscar y menu*/
.boton-buscar, 
.boton-menu{
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-buscar:focus, 
.boton-menu:focus{
    outline: 0;
}

.boton-buscar{
    margin-left: auto;
    margin-right: .8rem;
}

/* Estilos bloque buscar */
#bloque-buscar{
    flex: 1 1 100%
}
.contenedor-bloque-buscar{
    display: flex;
    height: 3rem;
    margin: 1rem 0;
    
}

.contenedor-bloque-buscar input[type="text"]{
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}

/* todo los que estan adentro de contenedor bloque que sean submit*/ 
.contenedor-bloque-buscar input[type="submit"]{
    flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    padding: 0 1rem;
}

#menu-principal{
    flex: 1 1 100%;
    
}
#menu-principal ul{
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
   
}

#menu-principal ul a{
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #8c8888;
    text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a{
    color: $principal;
}

.texto-encabezado{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.texto-encabezado .display-4{
    margin-top: 4.5rem;
}
.texto-encabezado .btn-primary{
    margin-top: 1rem;
}


.btn-primary{
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    transition: all .5s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: $secundario;
    border-color: transparent;
}
.flecha-baja a{
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    /* nombre keyframe / duracion / la aceleracion de la animacion / continua y que nunca pare */
    animation: flecha-animada 2s ease-in-out infinite;

}

/* animacion flecha */

@keyframes flecha-animada{
    from{
        /* determina la ubicacion vertical*/
        transform: translateY(0);
    }
    50%{
        transform: translateY(6px);
    }
    to{
        transform: translateY(0);
    }
}

/*------------------------------------
        SECCION AGENCIA
------------------------------------*/

.agencia{
    background: $principal;
    color: #fff;

}

.agencia img {
    width:  80%;
    margin: 0 auto;
    display: block;
}
/*------------------------------------
        SECCION tu-mejor-eleccion
------------------------------------*/

.tu-mejor-eleccion h2 span {
    color: $principal;
}

.tu-mejor-eleccion ul, 
.tu-mejor-eleccion ul li{
    list-style: none;
}
.tu-mejor-eleccion ul li{
    min-height: 10rem;
}

.tu-mejor-eleccion ul li .fa{
    font-size: 2.3rem;
    background: $secundario;
    border-radius: 50%;
    color: #fff;
    /* centrar uniformemente un redondo en base a su altura y anchura */
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    
}


.tu-mejor-eleccion ul li .contenedor-eleccion h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;   
}


/*------------------------------------
        SECCION servicios
------------------------------------*/

.servicios{
    background: url("../images/fondo-servicios.jpg") no-repeat center center;
    color: #fff;
    /* hace que la imagen cubra completamente a la etiqueta (servicio) */ 
    background-size: cover;
}

.servicios article{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.servicios img{
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}
.servicios h3{
    margin: 0;
    font-size: 1.3rem;
    flex: 1 1 auto;
}

.servicios h3 a{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}

/* pseudo elemento after agrega una etiqueta despues de la <a> */
.servicios h3 a::after{
    /* contenido unicode (se encuentra en la pagina FontAwesome)*/ 
    content: "\f054";
    /* Advertencia: usando After o before se necesita poner de donde viene esa fuente */
    font-family: FontAwesome;
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    /* relativa : su posicion no cambiara */
    position: relative;
    /* su ubicacion no cambiara */ 
    left:0;
    transition: all .5s ease;
    
}
.servicios h3 a:hover::after{
    left: -.5rem;
    opacity: 1;
    color: $principal;


}

/*------------------------------------
        SECCION ultimos proyectos
------------------------------------*/

.ultimos-proyectos a {
    text-decoration: none;
}

.ultimos-proyectos a h4{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: $texto;
}

.ultimos-proyectos .container{
    padding-left: 0;
    padding-right: 0;

}
.ultimos-proyectos .owl-nav{
    display: flex;
    justify-content: center;
    margin: .5rem 0 !important;

}

.ultimos-proyectos .owl-nav .owl-prev,
.ultimos-proyectos .owl-nav .owl-next{
    font-size: 3rem !important;
    margin: 0 .5rem;
    color: $principal !important;
    transition: all .5s ease;
}

.ultimos-proyectos .owl-nav .owl-prev:hover,
.ultimos-proyectos .owl-nav .owl-next:hover{
    color:$secundario !important;
}

/*------------------------------------
        SECCION Pie de Pagina
------------------------------------*/

.piedepagina{
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: .9rem;

}

.piedepagina .redes-sociales{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.piedepagina .redes-sociales a{
    color: #fff;
    font-size: 2rem;
    opacity: .7;
    transition: all .5s ease;
}
.piedepagina .redes-sociales a:hover{
    opacity: 1;
    
}

.ir-arriba{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    z-index: 99999;
    text-decoration: none;
    color: $principal;
    line-height: 0;
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus{
    outline: 0;
    text-decoration: none;
    color:#fff;

}
/*------------------------------------
        estilo paginas nosotros
------------------------------------*/
.paginas-internas .bienvenidos{
    height: 50vh;
}

.paginas-internas .ruta{
    background: $principal;
    color: #fff;
    
}
.paginas-internas .ruta a{
    color: #fff;
    text-decoration: underline;
    
    
}

.paginas-internas .ruta a:hover{
    color: #fff;
    text-decoration: none;
}

.paginas-internas .panel .panel-heading{
    font-size: 1.2rem;
}

.paginas-internas .card .card-header{
    padding: 0;

}
.paginas-internas .card .card-header .btn-link{
    background: $principal;
    color: #fff;
    display: block !important;
    padding: .8rem;
    border-radius: 5px;
    transition: all .5s ease;

}

.paginas-internas .card .card-header .btn-link:hover{
    background: $secundario;
    color: #fff;

}

/*------------------------------------
        estilo paginas serivicos
------------------------------------*/
.paginas-internas .lista-servicios{
    background: $secundario;
}

.paginas-internas .lista-servicios .item-servicios{
    background: #fff;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.paginas-internas .lista-servicios .item-servicios .fa{
    font-size: 6rem;
    color: $principal;
    margin-bottom: 1rem;
    transition: all 1s ease;
}

.paginas-internas .lista-servicios .item-servicios .fa:hover{
    transform: rotatey(360deg);
    transform-style: preserve-3d;
}

.modal .modal-dialog .modal-content .modal-body .col-md-4 img{
    display: block;
}


/*------------------------------------
        Media Queries
------------------------------------*/

@media(min-width:768px ){
    #menu-principal{
        height: auto !important;
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        order:1;
    }
    #menu-principal ul{
        
        display: flex;
        margin: 0 0 0 0;
    }

    #menu-principal ul li a{
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px; 
        border-bottom: 4px solid transparent;
        transition: all .5s ease;
    }
    #menu-principal ul li.active a,
    #menu-principal ul li a:hover{
        color: $principal;
        border-bottom: 4px solid;
    }
    .boton-buscar{
        margin-left: 1rem;
        margin-right: 0;
        order: 2;
    }
    #bloque-buscar{
        order: 3;
        position: absolute;
        width: 20rem;
        right: 5rem;
        top: 5rem;
    }

    /*-------------------------
        Seccion Servicio
    -------------------------*/
    .servicios article{
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .servicios img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 160px;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1s ease;
    }
    .servicios article:hover img{
        transform: rotateY(360deg);
        transform-style: preserve-3d;
    }

    .servicios h3 a::after {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 2rem;
        margin-left: 1rem;
        opacity: .5;
        position: relative;
        left: 0;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        display: none;
    }

    .servicios h3 {
        margin: 0 0 .5rem 0;
        font-size: 1.5rem;
        flex: 0 1 auto;
        width: 100%;
    }
    .servicios h3 a{
        display: block;
        width: 100%;
    }
    .servicios p{
        width: 100%;
    }

    .servicios .btn-outline-secondary{
        margin-top: auto;
    }

    .paginas-internas .lista-servicios .col-md-4{
        display: flex; 

    }
    .paginas-internas .lista-servicios .item-servicios{
        display: flex;
        flex-direction: column;
    }

    .paginas-internas .lista-servicios .item-servicios .btn-primary{
        margin-top: auto;
    }   
    
}

@media(min-width:992px ){
    html{
        font-size: 16px;
    }
    .tu-mejor-eleccion ul li {
        display: flex;
        min-height: 7rem;
    }

    .tu-mejor-eleccion ul li .fa {
        text-align: center;
        flex: 0 1 auto;
        margin-right: 1rem;
        transition: all 1s ease;
    }
    .tu-mejor-eleccion ul li:hover .fa {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        background: $principal;
    }
    .contenedor-eleccion{
        flex: 1 0 0px;
    }
    .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
        margin-top: 0;
        font-size: 1rem;
    }

    .tu-mejor-eleccion ul:first-child .fa{
        order: 1;
        margin-left: 1rem;
        margin-right: 0;
    }

    .tu-mejor-eleccion ul li p{
        font-size: .85rem;
    }

    
}

